@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.bodySelectorButton {
  display: block;
height: 44px;
line-height: 44px;
background-color: #2196f3;
color: #ffffff;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
}
